body{
    margin: 0px;
}

main{
    margin-left: 0px;
    margin-right: 0px;
}

  
.navbar{
width: 100%;
background-color: rgb(41, 41, 41);
display: flex;
justify-content: space-between;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: rgb(41, 41, 41);
    overflow: hidden;
    }
    

    .navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px 30px;
    display: block;
    text-align: center;
    font-size: 30px;
    } 
    
    .navbar a:hover{
    background-color: hsl(0, 0%, 10%);
    height: 50px;
    }

    .navbar li{
        width: 300px;
    }

    .box1{
        background-color:  rgb(41, 41, 41) ;
        border-style: none;
        margin-left: auto;
        padding: 0px;
         }

    
    .box2{
        background-color:  rgb(41, 41, 41) ;
        border-style: none;
        padding: 0px;
         }
         
    .box3{
        background-color:  rgb(41, 41, 41) ;
        border-style: none;
        padding: 0px;
         }

    .box4{
        background-color:  rgb(41, 41, 41) ;
        border-style: none;
        padding: 0px;
        }